/*
 * CSS File for the solution
 * Midterm Exam
 * You got this!
 */

/*
 * COLOUR PALETTE
 *
 * YOU DO NOT NEED TO USE THESE COLOURS, BUT YOU CAN IF YOU WANT TO
 *   #ede0d4
 *   #e6ccb2
 *   #ddb892
 *   #b08968
 *   #7f5539
 *   #9c6644
 *
 * https://coolors.co/palette/ede0d4-e6ccb2-ddb892-b08968-7f5539-9c6644
 */

/*
 * The width of my Product Card in the screenshot was 400px
 * You can use that width or set your own width
 */

/*
 * HINT: For making image fill the container use object-fit:cover property:
 *  https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit
 */


 .container {
  display: flex;
  flex-direction: column;
  width: 395px;
  height: 660px;
  background-color: rgb(246, 236, 236);
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10rem;
  padding: 2rem;
}

.image {
  width: 20rem;
  height: 20rem;
  margin-bottom: 2rem;
}

.buy {
  
  text-align: center;
  background-color: #a48a72;
  padding: 0.8rem;
  border-radius: 1rem;
  text-decoration: none;
  margin-left: 130px;
  color: aliceblue;

}

.buy-more {
  margin-top: 2rem;
}

.price{

  font-size: 3rem;
  color:#a48a72
}

html {
  font-size: 1.0rem;
}

h1{
 color: #a48a72;
 
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #a48a72;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content:center;
  align-items: stretch;
  margin-left: 50px;
  margin-bottom: 40px;
  margin-right: 50px;
}
